@import 'src/assets/styles/vars';

.controlledInput {
  @include ptsans-regular;
  font-size: 16px;
  padding: 11px 8px;
  border: 1px solid $dark;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
  color: #000000;
  outline: none;


  &::placeholder {
    color: #CBCAD0;
  }

}

.inputWrapper {
  position: relative;

  p {
    color: #ffffff;
    margin-bottom: 4px;
  }

  span {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.inputEl {
  position: relative;

  .warningMessage {
    color: #F00000;
    font-size: 14px;
    line-height: 1;
    padding-top: 5px;
  }

}

.textareaEl {
  width: 100%;
  textarea {
    height: 65px;
  }
}
.textareaWrapper {
  width: 100%;
  display: block;
}

.noValid {
  border: 1px solid #F00000;
}