.authForms {
  width: 600px;
  @media (max-width: 768px) {
    width: 100%;
  }
  h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
  }
  form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
  }
}


.formSwitch {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  button {
    font-size: 16px;
    padding: 11px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;

    &._active {
      background-color: #FAE100;
      border-color: #FAE100;
      color: #272626;
    }
  }
}

.submitBtn {
  padding: 12px 16px;
  background-color: #FFBA08;
  font-size: 18px;
  color: #ffffff;
  width: 240px;
  border-radius: 25px;
  align-self: center;
  transition: all .3s;
  margin-top: 30px;

  &:hover {
    background-color: #b3830b;
  }
}