.homeMenuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  ul {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 10px;
    }

    li {
      width: 30%;
      height: 250px;
      padding: 10px;
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      transition: all .3s;
      z-index: 0;
      overflow: hidden;
      margin: 30px auto;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #BFE2FF;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#D40F7D, #D40F7D), linear-gradient(#FAE100, #FAE100), linear-gradient(#0097A9, #0097A9), linear-gradient(#337AB7, #337AB7);
        animation: anim-ramka-5 12s linear infinite;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: #ecc26f;
        border-radius: 5px;
      }

      a {
        color: #000000;
        font-size: 45px;
        font-weight: 700;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        position: absolute;
        opacity: 0.08;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }


      &:hover {
        background: #FAE100;
        box-shadow: 0 0 5px 5px rgba(#D40F7D, 0.5);
        transform: scale(1.05);
      }
    }
  }

}

@keyframes anim-ramka-5 {
  100% {
    transform: rotate(1turn);
  }
}