@import "src/assets/styles/vars";

.mainNav {
  padding: 80px 0 60px;
  display: flex;
  flex-direction: column;
  position: sticky;
  background: #221627;
  border-right: 1px solid #D40F7D;
  height: 100vh;
  top: 0;
  width: 250px;
  min-width: 250px;
  transition: width .2s ease-in-out;

  &._close {
    width: 80px;
    min-width: 80px;


    .authUser {
      svg {
        width: 30px;
        height: 30px;
      }
    }

    ul {
      padding: 0;
      align-items: center;
      li {
        width: 100%;
        a {
          width: 100%;
        }
        svg {
          text-align: center;
          width: 100%;
        }
      }
    }

    .controlNavBtn {
      left: 50%;
      transform: translateX(-50%);
    }

  }
}

.authUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  @include ptsans-bold;
  font-size: 20px;
  text-transform: capitalize;
  transition: all .3s;
  text-align: center;
  margin-bottom: 120px;
  svg {
    margin-bottom: 8px;
  }
}

.closeNavBtn {
  position: absolute;
  right: 15px;
  top: 15px;
}
.controlNavBtn {
  position: absolute;
  right: 15px;
  top: 15px;
}
