@import "src/assets/styles/vars";

.mainNav {
  padding: 15px 0;
  border-bottom: 1px solid #C6009B;
}

.logoWrapper {
  margin-right: 15px;
  img {
    width: 100%;
    height: 100% ;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.authUser {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  @include ptsans-bold;
  font-size: 20px;
  text-transform: capitalize;
  transition: all .3s;
  cursor: pointer;
  svg {
    margin-right: 3px;
    transition: all .3s;
    path {
      transition: all .3s;

    }
  }
  &:hover {
    color: #C6009B;
    svg {
      path {
        fill: #C6009B;
      }
    }
  }


}

.authBlock {
  display: flex;
  align-items: center;
  gap: 20px;
  button {
    font-size: 20px;
    color: #da1212;
  }
}
